* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: rgb(124, 199, 153);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rectangle {
  width: 10rem;
  height: 10rem;
  background-color: rgb(47, 99, 37);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 1rem 2rem;
  margin-bottom: 5rem;
}

.container {
  border: 1px solid black;
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: space-around;
}
